# データの永続化
## SQLite
* 軽量なデータベースを実袋するc言語のライブラリ
* サーバようのプロセスを必要としない、組み込み型のデータベースエンジン。
* 単ーのファイルによって管理される（インメモリも可能）

In [1]:
import sqlite3

In [ ]:
#DB ファイルの保存先パス (相対パスで指定)#DB file save path (specify relative path)
path = ''
# googleColab の場合
# path = '/content/'

# DB ファイル
db_name = 'test.db'
# DB 接続の確立　Establishing a DB connection
# DB ファイルが存在しない場合は、新規作成される　// if the DB file dsoes not exist , it will be creataed
conn = sqlite3.connect(path + db_name)
# DB への接続を閉じる // closing the connection to the DB
conn.close()

# テーブルの作成

In [6]:
path = ''
db_name = 'car.db'
try:
    
    # DB 接続オブジェクトの作成 // creating a Db connection object
    conn = sqlite3.connect(path + db_name)

    # SQL (RDB　を　操作するための言語)　を　実行するためのカーソルオブジェクトを取得 // creating a cursor object to execute the SQL(language to operate RDB)
    cur = conn.cursor()

    # SQL 文の作成 // creating an SQL statement
    # テーブルの作成　Creating a table
    sql = 'CREATE TABLE cars (id INT, name TEXT, price REAL);'
    # SQL 分の実行 executing the SQL statement
    cur.execute(sql)
# DB への接続を閉じる　cloosing the connection to the DB
except sqlite3.Error as e:
    print(f" エラーが発生しました：{e}")
finally:
    conn.close()

 エラーが発生しました：table cars already exists

 ### テータをDBに輸入する（単ーレコード）

In [11]:
path = ''
db_name = 'car.db'


    # DB 接続オブジェクトの作成 // creating a Db connection object
conn = sqlite3.connect(path + db_name)

    # SQL (RDB　を　操作するための言語)　を　実行するためのカーソルオブジェクトを取得 // creating a cursor object to execute the SQL(language to operate RDB)
cur = conn.cursor()

    # SQL 文の作成 // creating an SQL statement
    #   データの輸入　INseting data
sql = "INSERT INTO cars (id, name, price) VALUES (1, 'audi', 20000);"
  
    # テーブルの作成　Creating a table
    # SQL 分の実行 executing the SQL statement
cur.execute(sql)
    # DB への接続を閉じる　cloosing the connection to the DB

conn.commit()   # 変更を保存

In [12]:
path = ''
db_name = 'car.db'
try:

    # DB 接続オブジェクトの作成 // creating a Db connection object
    conn = sqlite3.connect(path + db_name)

    # SQL (RDB　を　操作するための言語)　を　実行するためのカーソルオブジェクトを取得 // creating a cursor object to execute the SQL(language to operate RDB)
    cur = conn.cursor()

    # SQL 文の作成 // creating an SQL statement
    #   データの輸入　INseting data
    sql = "INSERT INTO cars (id, name, price) VALUES (?, ?, ?);"
    cars = [
        (2, 'bmw', 30000),
        (3, 'benz', 40000),
        (4, 'toyota', 25000 )
    ]
    # テーブルの作成　Creating a table
    # SQL 分の実行 executing the SQL statement
    cur.executemany(sql,cars)
    
    # DB への接続を閉じる　cloosing the connection to the DB

    conn.commit()   # 変更を保存
except sqlite3.Error as e:
    print(f" エラーが発生しました：{e}")
finally:
    conn.close()

# # DB内のデータを参照する

In [16]:
# DB内のデータを参照する
path = ''
db_name = 'car.db'
try:

    # DB 接続オブジェクトの作成 // creating a Db connection object
    conn = sqlite3.connect(path + db_name)

    # SQL (RDB　を　操作するための言語)　を　実行するためのカーソルオブジェクトを取得 // creating a cursor object to execute the SQL(language to operate RDB)
    cur = conn.cursor()

    # データを参照するSQL
    sql = "SELECT * FROM cars;"
# SQL 分の実行 executing the SQL statement
    cur.execute(sql)
    
    # DB への接続を閉じる　cloosing the connection to the DB
    # conn.commit()   # 変更を保存
except sqlite3.Error as e:
    print(f" エラーが発生しました：{e}")
else:
    for row in cur:
        id, name, price = row
        print(f"{id},{name},{price} ")
finally:
    conn.close()

1,audi370,200000.0
1,audi,20000.0
2,bmw,30000.0
3,benz,40000.0
4,toyota,25000.0

In [ ]:
# DELETE DATA

In [ ]:
# DB内のデータを参照する
path = ''
db_name = 'car.db'
try:

    # DB 接続オブジェクトの作成 // creating a Db connection object
    conn = sqlite3.connect(path + db_name)

    # SQL (RDB　を　操作するための言語)　を　実行するためのカーソルオブジェクトを取得 // creating a cursor object to execute the SQL(language to operate RDB)
    cur = conn.cursor()

    # データを参照するSQL
    sql = "DELETE FROM cars WHERE id = 1;"
    # sql = "DELETE FROM cars WHERE name = 'bmw';"
    # sql = "DELETE FROM cars WHERE name like'bmw';"
# SQL 分の実行 executing the SQL statement
    cur.execute(sql)
    
    # DB への接続を閉じる　cloosing the connection to the DB
    # conn.commit()   # 変更を保存
except sqlite3.Error as e:
    print(f" エラーが発生しました：{e}")
finally:
    conn.close()

# UPDATE TABLE

In [23]:
# DB内のデータを参照する
path = ''
db_name = 'car.db'
try:

    # DB 接続オブジェクトの作成 // creating a Db connection object
    conn = sqlite3.connect(path + db_name)

    # SQL (RDB　を　操作するための言語)　を　実行するためのカーソルオブジェクトを取得 // creating a cursor object to execute the SQL(language to operate RDB)
    cur = conn.cursor()

    # データを参照するSQL
    sql = "UPDATE cars SET price = ? WHERE id = ?;"
    
# SQL 分の実行 executing the SQL statement
    cur.execute(sql, (3500000,2))
    
    # DB への接続を閉じる　cloosing the connection to the DB
    conn.commit()   # 変更を保存
except sqlite3.Error as e:
    print(f" エラーが発生しました：{e}")    
finally:
    conn.close()